@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}
html{
  height: 100%;
  margin: 0;
}

.burger {
  color:black;
}

.hamburger {
  display: none;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  width: 200%;
  height: 100%;
}

.line {
  height:50px;
  margin-top:20px;
  width:100%;

  -webkit-box-shadow: 0 -14px 14px -14px rgba(0,0,0,37109375);
  -moz-box-shadow: 0 -14px 14px -14px rgba(0,0,0,37109375);
  -ms-box-shadow: 0 -14px 14px -14px rgba(0,0,0,37109375);
  box-shadow: 0 -14px 14px -14px rgba(0,0,0,37109375);
  width: 90%;
  margin-left:5%;
}

h1 {
  font-size: 34px;
  color: #171717;
}

#description{
  font-size:1.24rem;
  text-align:left;
  margin:0;
  margin-bottom:60px;
  padding-right:15%;
  padding-left:15%;
}
#description p{
  margin-top:0.8rem;
  margin-bottom:0.8rem;
  color: black;
}

#showcase a{
  width: 48%;
  height: 48%;
  margin-bottom: 20px;

  color:#ffffff;
  background-color: rgba(26,25,38,0);
  text-decoration: none;
  transition: 0.8s all;
}
#showcase img{
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.65234375);
  -moz-box-shadow: 0 2px 12px rgba(0,0,0,.65234375);
  -ms-box-shadow: 0 2px 12px rgba(0,0,0,.65234375);
  box-shadow: 0 2px 12px rgba(0,0,0,.65234375);
  border-radius:2px;
}
#showcase a .img-container:hover .img-desc{
  cursor:pointer;
  background-color:rgba(255, 255, 255, .7);
  color:rgba(0, 0, 0, 1);
}

#showcase a.wide-img{
  width:100%;
}

#showcase .img-container{
  position:relative;
}

#showcase .img-container div.img-desc{
  position: absolute;
  top: 0;
  bottom: 6px;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 5.6px);
  transition: .3s ease;
  background-color:rgba(0, 0, 0, 0);
  color:rgba(0, 0, 0, 0);
}

#showcase .img-container h1{
  text-align:center;
}

#showcase .img-desc h1{
  margin-top:20%;
  font-size:1.8vw;
  opacity: 0;
}
#showcase .wide-img .img-desc h1{
  margin-top:15%;
}
#showcase .img-desc p{
  text-align:center;
  font-size:1.3vw;
  opacity: 0;
}

#showcase .img-desc:hover{
 p:hover{opacity: 1}
 h1:hover {opacity: 1};
}

#signature img{
  margin-top:50px;
  margin-left:50%;
  transform:translateX(-56%);
  width:23%;
  margin-bottom:8px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media(max-width:900px) {
    #showcase a{
        width: 100%;
        height: 100%;
    }
    #showcase .img-desc h1{
        font-size:3.4vw;
    }
    #showcase .img-desc p{
        font-size:2.4vw;
    }

    #social-media{
        font-size:0.8rem;
    }
    #signature img{
        /*margin-top:50px;
        margin-left:50%;
        transform:translateX(-56%);

        margin-bottom:8px;*/
        width:48%;
    }

    #description{
        font-size:1.1rem;
        padding:0;
    }

    .hamburger {
      display: block;
    }
}